/* Alan Code Notation Mockup */
.listingblock.alan pre {
  color: #333;
  background: #F8F8F8;
}

/* Shell/CMD */
div.literalblock.shell pre {
  background-color: #0C0C0C;
  color: #F2F2F2;
}
div.literalblock.shell pre .conum {
  background: #FFF945 !important;
  color: #0C0C0C !important;
}

/* Game Transcripts */
.exampleblock.gametranscript > .content {
  background: #F7FDFF;
  color: #0089B6;
  border-color: #CCF2FF;
}

/* Commentary Blocks */
div.openblock.commentary {
  padding-left: 6em;
}

/* Inline Highlighting */
span.green {
  background-color: #A3FF8A;
}

/* Highlight Theme for Alan -- based on "github.com style" for highlight.js, by Vasily Polovnyov */
.listingblock code[data-lang=alan]::before {
  color: #a09f93;
}

.listingblock > div.content > pre[class~=rouge][lang=alan] {
  background-color: #F8F8F8;
  border-radius: 4px;
  border: 1px solid #F8F8F8;
}
.listingblock > div.content > pre[class~=rouge][lang=alan] > code {
  color: #333;
  font-family: inherit;
  font-size: inherit;
}
.listingblock > div.content > pre[class~=rouge][lang=alan] > code > span {
  color: #333;
}
.listingblock > div.content > pre[class~=rouge][lang=alan] > code > span.n {
  color: #333;
}
.listingblock > div.content > pre[class~=rouge][lang=alan] > code > span.se {
  color: #ff980b;
}
.listingblock > div.content > pre[class~=rouge][lang=alan] > code > span.si {
  color: #d572f1;
}
.listingblock > div.content > pre[class~=rouge][lang=alan] > code > span.s2 {
  color: #008080;
}
.listingblock > div.content > pre[class~=rouge][lang=alan] > code > span.c1 {
  color: #998;
}
.listingblock > div.content > pre[class~=rouge][lang=alan] > code > span.cm {
  color: #998;
}
.listingblock > div.content > pre[class~=rouge][lang=alan] > code > span.lin {
  color: #998;
}
.listingblock > div.content > pre[class~=rouge][lang=alan] > code > span.o {
  color: #333;
}
.listingblock > div.content > pre[class~=rouge][lang=alan] > code > span.kr {
  color: #990000;
}
.listingblock > div.content > pre[class~=rouge][lang=alan] > code > span.nb {
  color: #000080;
}
.listingblock > div.content > pre[class~=rouge][lang=alan] > code > span.nx {
  color: #000080;
}
.listingblock > div.content > pre[class~=rouge][lang=alan] > code mark {
  background-color: #ccff00;
  background-image: linear-gradient(to right, #ccff00 0%, #f5ff87 100%);
}
.listingblock > div.content > pre[class~=rouge][lang=alan] > code span.green {
  background-color: #a3ff8a;
  background-image: linear-gradient(to right, #a3ff8a 0%, rgba(163, 255, 138, 0.5) 100%);
}

/* Rouge Theme for Alan Library -- Base16 Eighties, by Chris Kempson */
.listingblock.lib code[data-lang=alan]::before {
  color: #a09f93;
}

.listingblock.lib > div.content > pre[class~=rouge][lang=alan] {
  background-color: #2d2d2d;
  border-radius: 4px;
  border: 1px solid #a09f93;
}
.listingblock.lib > div.content > pre[class~=rouge][lang=alan] > code {
  color: #d3d0c8;
  font-family: inherit;
  font-size: inherit;
}
.listingblock.lib > div.content > pre[class~=rouge][lang=alan] > code > span {
  color: #d3d0c8;
}
.listingblock.lib > div.content > pre[class~=rouge][lang=alan] > code > span.n {
  color: #f99157;
}
.listingblock.lib > div.content > pre[class~=rouge][lang=alan] > code > span.se {
  color: #f99157;
}
.listingblock.lib > div.content > pre[class~=rouge][lang=alan] > code > span.si {
  color: #d27b53;
}
.listingblock.lib > div.content > pre[class~=rouge][lang=alan] > code > span.s2 {
  color: #99cc99;
}
.listingblock.lib > div.content > pre[class~=rouge][lang=alan] > code > span.c1 {
  color: #a09f93;
}
.listingblock.lib > div.content > pre[class~=rouge][lang=alan] > code > span.cm {
  color: #a09f93;
}
.listingblock.lib > div.content > pre[class~=rouge][lang=alan] > code > span.lin {
  color: #747369;
}
.listingblock.lib > div.content > pre[class~=rouge][lang=alan] > code > span.o {
  color: #d3d0c8;
}
.listingblock.lib > div.content > pre[class~=rouge][lang=alan] > code > span.kr {
  color: #f2777a;
}
.listingblock.lib > div.content > pre[class~=rouge][lang=alan] > code > span.nb {
  color: #ffcc66;
}
.listingblock.lib > div.content > pre[class~=rouge][lang=alan] > code > span.nx {
  color: #6699cc;
}
.listingblock.lib > div.content > pre[class~=rouge][lang=alan] > code mark {
  background-color: #ccff00;
  background-image: linear-gradient(to right, #ccff00 0%, #f5ff87 100%);
}
.listingblock.lib > div.content > pre[class~=rouge][lang=alan] > code span.green {
  background-color: #a3ff8a;
  background-image: linear-gradient(to right, #a3ff8a 0%, rgba(163, 255, 138, 0.5) 100%);
}

/* Rouge Theme for Alan tutorial -- Base16 Google, by  Seth Wright */
.listingblock.tutorial code[data-lang=alan]::before {
  color: #a09f93;
}

.listingblock.tutorial > div.content > pre[class~=rouge][lang=alan] {
  background-color: #ffffff;
  border-radius: 4px;
  border: 1px solid #e0e0e0;
}
.listingblock.tutorial > div.content > pre[class~=rouge][lang=alan] > code {
  color: #373b41;
  font-family: inherit;
  font-size: inherit;
}
.listingblock.tutorial > div.content > pre[class~=rouge][lang=alan] > code > span {
  color: #373b41;
}
.listingblock.tutorial > div.content > pre[class~=rouge][lang=alan] > code > span.n {
  color: #373b41;
}
.listingblock.tutorial > div.content > pre[class~=rouge][lang=alan] > code > span.se {
  color: #F96A38;
}
.listingblock.tutorial > div.content > pre[class~=rouge][lang=alan] > code > span.si {
  color: #3971ED;
}
.listingblock.tutorial > div.content > pre[class~=rouge][lang=alan] > code > span.s2 {
  color: #198844;
}
.listingblock.tutorial > div.content > pre[class~=rouge][lang=alan] > code > span.c1 {
  color: #969896;
}
.listingblock.tutorial > div.content > pre[class~=rouge][lang=alan] > code > span.cm {
  color: #969896;
}
.listingblock.tutorial > div.content > pre[class~=rouge][lang=alan] > code > span.lin {
  color: #c5c8c6;
}
.listingblock.tutorial > div.content > pre[class~=rouge][lang=alan] > code > span.o {
  color: #373b41;
}
.listingblock.tutorial > div.content > pre[class~=rouge][lang=alan] > code > span.kr {
  color: #CC342B;
}
.listingblock.tutorial > div.content > pre[class~=rouge][lang=alan] > code > span.nb {
  color: #FBA922;
}
.listingblock.tutorial > div.content > pre[class~=rouge][lang=alan] > code > span.nx {
  color: #3971ED;
}
.listingblock.tutorial > div.content > pre[class~=rouge][lang=alan] > code mark {
  background-color: #f5ff87;
  background-image: none;
}
.listingblock.tutorial > div.content > pre[class~=rouge][lang=alan] > code span.green {
  background-color: #dbf8e6;
  background-image: none;
}

/*# sourceMappingURL=rouge.css.map */
